@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    border: 10px solid black;
}
img {
    width: 150px;
}
i {
    font-size: 30px;
    cursor: pointer;
    color: rgba(0, 0, 0, 0.541);
}
button {
    border: 1px solid black;
    padding: 10px 30px;
    background-color: white;
}
.container {
    border: 1px solid black;
    padding: 20px;
    display: flex;

}
form , .details {
    border: 1px solid green;
    margin: 5px;
    padding: 5px;
}